/*Adding Muli font here*/
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

/* Setting box-sizing to border-box so if we add padding or border to an element it won't bother its width */

:root {
  /* lets declare variables for the colours */
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;

  font-family: "Muli", sans-serif;

  display: flex;
  /* Applying Flexbox */

  flex-direction: column;
  /* flex-direction is applied to horizontally by default so we are gonna change it to vertical */

  align-items: center;
  /* Since it is a flexbox, we can align items  */

  justify-content: center;
  /*  But this will only allign items horizontally. To make it at center vertically as well, we have another property*/

  height: 100vh;
  /* Nothing happened because our body doesn't have height, so we're gonna give it some height */
  /* 100vh is gonna take all the viewport height of the browser */

  overflow: hidden;
  /* And we Also don't want the scroll bars */

  margin: 0;
}

.container {
  text-align: center;
}

.whole-progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  max-width: 100%;
  width: 350px;
}

/* default line styling */

.whole-progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

/* line styling on progress */

.progress-line {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circles {
  background-color: #fff;
  color: #999;
  border: 4px solid var(--line-border-empty);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  /* making numbers into center */
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles.active {
  border-color: var(--line-border-fill);
  transition: 0.4s ease;
}

.btn {
  background-color: var(--line-border-fill);
  color: white;
  font-size: 14px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 20px;
  margin: 5px;
}

/* adding scaling effect when we click button */

.btn:active {
  /* scale: 0.95; */
  transform: scale(0.95);
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
